.integration-container {
    overflow: hidden; 
    position: relative; 
  }
  
  
.scroll-wrapper {
  display: flex; 
  animation: scroll 10s linear infinite; 
}

.partner {
  flex: 0 0 auto; 
  width: 200px;
  height: 120px; 
  margin: 0 10px; 
}

@keyframes scroll {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(-50%); 
  }
}


.blur-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10%; /* Adjust the width of the blur effect */
  pointer-events: none; /* Allow interactions through the blur */
  z-index: 2; /* Ensure the blur effect is on top */
}

.left-blur {
  left: 0;
  background: linear-gradient(to right, rgba(249, 250, 251, 1), rgba(249, 250, 251, 0)); 
}

.right-blur {
  right: 0;
  background: linear-gradient(to left, rgba(249, 250, 251, 1), rgba(249, 250, 251, 0)); 
}
